#container {
  text-align: left;
  padding: 10px;
}
.article-item {
  cursor: pointer;
  padding-left: 40px;
  padding-right: 40px;
  margin-bottom: 50px;
}
#footer-container {
  padding-top: 20px;
  padding-bottom: 20px;
}
#select-container {
  float: left;
}
#select-label {
  font-size: 25px;
  font-weight: 25px;
  padding: 10px;
}
select {
  font-size: 15px;
}
#pagination-container {
  margin-top: -8px;
  float: right;
}
#pagination-index {
  font-size: 25px;
  font-weight: 25px;
  padding: 10px;
}
.pagination-button {
  font-size: 20px;
}
